/* Styling Header */
.modalcontact .modal-header h5 {
  font-family: "Viga";
  color: white;
}
/* Styling .modal-header */
.modalcontact .modal-header {
  height: 100px !important;
}

/* Styling Image */
.modalcontact img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
/* Styling Fa-plus */
.modalcontact .fa-plus {
  float: right;
  position: absolute;
  /* top: -10px; */
  left: 225px;
  z-index: 99999 !important;
}

/* Styling Desc-Friend */
.modalcontact .desc-friend {
  position: relative;
  left: 20px;
  top: 8px;
  font-family: "Viga";
}
.modalcontact .desc-friend p {
  font-size: 12px !important;
  font-family: "Viga";
}
.modalcontact .modal-body .in-friend {
  position: relative;
  left: -10px;
}
.modalcontact .modal-body .all-desc-friend {
  padding: 15px 0 10px 0 !important;
}
.modalcontact .modal-body .all-desc-friend:hover {
  /* background: rgb(128, 128, 128, 0.4); */
}
/* Styling Input */
.modalcontact input {
  margin-bottom: -15px;
  padding: 10px;
  background: white;
  z-index: 9999;
  font-family: "Rajdhani";
  width: 100%;
}
/* Stylig Placeholder */
.modalcontact ::placeholder {
  font-family: "Rajdhani";
}

/* Styling Button Close */
.modalcontact .modal-footer .bton-close {
  background: linear-gradient(
    45deg,
    rgba(72, 44, 191, 1) 0%,
    rgba(106, 198, 240, 1) 100%
  ) !important;
  color: white;
  padding: 5px 30px;
  border-radius: 20px;
  border: 1px solid lightblue;
  font-family: "Viga";
}
.modalcontact .modal-footer .bton-close:hover {
  background: linear-gradient(
    45deg,
    rgba(106, 198, 240, 1) 0%,
    rgba(72, 44, 191, 1) 100%
  ) !important;
  color: white;
}

/* Styling All-modal-Contact */

.modalcontact .all-modal-contact .list {
  margin-top: 12px;
  margin-bottom: -20px;
  padding: 10px 0 10px 5px;
}
.modalcontact .all-modal-contact img {
  position: relative;
  top: 2px;
}
/* Styling Baru */
.desc-list {
  margin: 10px 0 0 0 !important;
}
.desc-list h5 {
  position: relative;
  left: 10px;
  font-family: "Viga";
  font-size: 15px;
}

.desc-list p {
  position: relative;
  font-size: 10px;
  left: 10px;
}

.desc-list .btn-primary {
  background: linear-gradient(
    45deg,
    rgba(106, 198, 240, 1) 0%,
    rgba(72, 44, 191, 1) 100%
  ) !important;
  border: none;
  margin: 15px 0 0 50px;
}
